* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  background-color: #3c3a39;
  height: auto;
  justify-content: space-between;
  flex: 1;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-left: 24px;
  text-decoration: none;
}

.header img {
  height: 24px;
  width: 24px;
  margin-right: 32px;
  margin-bottom: 1px;
}

.topMenu {
  display: none;
}

.mainContainer {
  display: flex;
  background-color: #1c1a19;
  height: 590px;
  top: 92px;
  background-image: url("img/Illustration.png");
  background-repeat: no-repeat;
  background-position: right bottom -45px;
  flex: 1;
  flex-direction: column;
  padding-top: 1px;
}

.informativeText {
  margin-left: 24px;
  margin-bottom: 10px;
}

.informativeText h1 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 56px;
  margin-bottom: 12px;
  margin-top: 120px;
}

.informativeText h2 {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
  margin-right: 24px;
}

.informativeText p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.socialIcons ul {
  display: flex;
  list-style: none;
  width: 200px;
  height: 40px;
  margin-left: 24px;
  margin-bottom: 120px;
  justify-content: space-around;
}

.gridItem {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 24px;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 24px;
}

.backGroundImg {
  background-image: url("img/imgworks.png");
  background-repeat: no-repeat;
}

.grid1 {
  font-family: "Crete Round", serif;
  font-size: 40px;
  margin-top: 120px;
  margin-bottom: 24px;
}

.grid2 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 0%;
}

.grid2 p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 0%;
}

.grid2 ul {
  display: flex;
  width: 297px;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
  padding-left: 0%;
  justify-content: space-between;
  align-items: center;
}

.grid3 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #fff;
  margin-top: 84px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
}

.grid3 p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
  color: #fff;
}

.grid3 ul {
  display: flex;
  width: 236px;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 22px;
  margin-left: 16px;
  padding-left: 0%;
  justify-content: space-between;
  align-items: flex-start;
}

.buttonProperties {
  width: 327px;
  height: 48px;
  padding-top: 10px;
}

.grid4 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #fff;
  margin-top: 84px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
}

.grid4 p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
  color: #fff;
}

.grid4 ul {
  display: flex;
  width: 236px;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 22px;
  margin-left: 16px;
  padding-left: 0%;
  justify-content: space-between;
  align-items: flex-start;
}

.grid5 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #fff;
  margin-top: 84px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
}

.grid5 p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
  color: #fff;
}

.grid5 ul {
  display: flex;
  width: 236px;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 22px;
  margin-left: 16px;
  padding-left: 0%;
  justify-content: space-between;
  align-items: flex-start;
}

.grid6 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #fff;
  margin-top: 84px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
}

.grid6 p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
  color: #fff;
}

.grid6 ul {
  display: flex;
  width: 236px;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 22px;
  margin-left: 16px;
  padding-left: 0%;
  justify-content: space-between;
  align-items: flex-start;
}

.grid7 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #fff;
  margin-top: 84px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
}

.grid7 p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
  color: #fff;
}

.grid7 ul {
  display: flex;
  width: 236px;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 22px;
  margin-left: 16px;
  padding-left: 0%;
  justify-content: space-between;
  align-items: flex-start;
}

.grid8 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #fff;
  margin-top: 84px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
}

.grid8 p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
  color: #fff;
}

.grid8 ul {
  display: flex;
  width: 236px;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 22px;
  margin-left: 16px;
  padding-left: 0%;
  justify-content: space-between;
  align-items: flex-start;
}

.aboutMe {
  background-color: #1c1a19;
  padding-top: 120px;
  margin-top: 120px;
  background-image: url("img/bottomImg.png");
  background-repeat: no-repeat;
  background-position: right bottom 25px;
}

.bottom {
  flex: 1;
  align-items: flex-start;
  margin-left: 24px;
  flex-direction: column;
}

.bottom h2 {
  color: #ff6b00;
  font-size: 72px;
  font-family: "Crete Round", serif;
  margin-bottom: 24px;
}

.bottom p {
  color: #f4f5f7;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  margin-bottom: 24px;
}

.line2 {
  margin-top: 209px;
  margin-bottom: 16px;
}

.skills {
  background-color: #1c1a19;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skills div {
  background-color: #1c1a19;
  flex: 1;
}

.language {
  color: #fff;
  flex-direction: column;
  margin-bottom: 131px;
}

.lan {
  border-image: initial;
  background-image: url("img/Rectangle55.png");
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  background-position: left;
  width: 200px;
  text-align: center;
  color: #fff5e1;
  font-weight: bold;
  line-height: 4rem;
}

.frame {
  background-image: url("img/Rectangle56.png");
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  background-position: left;
  width: 220px;
  text-align: center;
  color: #fff5e1;
  font-weight: bold;
  line-height: 4rem;
}

.ski {
  background-image: url("img/Rectangle57.png");
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  background-position: left;
  width: 130px;
  text-align: center;
  color: #fff5e1;
  font-weight: bold;
  line-height: 4rem;
}

.eniimi ul {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 32px;
}

.eniimi li {
  color: #f4f5f7;
  line-height: 2rem;
}

.skills ul li {
  list-style: none;
  text-align: center;
}

.embuza {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  color: #172b4d;
  margin-top: 120px;
}

.user-name {
  width: 327px;
  height: 50px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-top: 30px;
}

.last-name {
  display: none;
}

.user-email {
  width: 327px;
  height: 50px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 15px;
}

.user-message {
  width: 327px;
  height: 114px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 20px;
  border: none;
  background-color: #fbf8f7;
  padding: 5px;
}

.buttons {
  background-color: #ff6b00;
  width: 131px;
  height: 48px;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  margin: 20px 0 175px 0;
}

.buttons:hover {
  background-color: #fff5e1;
  color: #f55800;
}

.buttons:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.button:visited {
  background-color: #e05304;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ctr input[type=submit]:hover {
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.timbagano {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 36px;
  border-top: #52627e 2px solid;
  padding-top: 20px;
  color: #52627e;
  font-size: 24px;
}

.timbagano i {
  color: #505f79;
}
